<!--
Variáveis
- color: primary | secondary | tertiary
- type: default | alternative
- rounded

- class: extensão de classe
- slot: texto do botão
- href: link
-->

<a href="{{ href }}" class="inline-block w-auto">
    <input
    {{ attrs }}
    value="{{slot}}"
    class="
    {% if color == 'primary' %}
    text-black bg-primary-400 hover:bg-primary-500 focus:ring-yellow-200
    {% elif color == 'secondary' %}
    text-black bg-secondary-400 hover:bg-secondary-500 focus:ring-green-200
    {% elif color == 'tertiary' %}
    text-white bg-tertiary-400 hover:bg-tertiary-500 focus:ring-blue-200
    {% elif color == 'danger' %}
    text-white bg-red-500 hover:bg-red-700 focus:ring-red-200
    {% elif color == 'neutral' %}
    text-black bg-slate-300 hover:bg-slate-400 focus:ring-slate-200
    {% endif %}
    {% if rounded %}
    rounded-full
    {% endif %}
    focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none cursor-pointer transition-all w-auto min-w-0 max-w-full text-center
     {{ class }}"
    >
</a>