<!--
Variáveis:
- image: coloca uma imagem como destaque (opcional)
- title: texto em destaque
- description: texto secundário
- alt: breve texto logo após o título

- urlEdit
- urlDelete
- urlLink
-->

{% load static %}

<div class="bg-primary-100 rounded-lg shadow-sm border border-primary-700 flex items-center flex-grow">
    {% if image %}
        <div class="">
            <img class="h-[65px] w-[80px] rounded-l-lg object-cover" src="{{ image }}" alt="{{image}}">
        </div>
    {% endif %}
    <div class="px-4 py-2 w-full">
        <div class="flex">
            <h1 class="font-bold">{{ title }}</h1>
            <p class="font-normal ml-2 italic">{{ alt }}</p>
        </div>
        <p class="text-primary-900 italic">{{ description }}</p>
    </div>
    <div class="flex gap-2 px-4 py-2">
        {% if urlLink %}
        <c-card-button
            action="{{ urlLink }}"
            icon="link"
        />
        {% endif %}
        <c-card-button
            action="{{ urlEdit }}"
            icon="pencil-square"
        />
        <c-card-button
            action="{{ urlDelete }}"
            icon="trash"
            danger
        />
    </div>
</div>