<!--
Variáveis:
- image: coloca uma imagem como destaque (opcional)
- title: texto em destaque
- description: texto secundário
- alt: breve texto logo após o título
-->

<div class="bg-primary-100 rounded-lg shadow-sm border border-primary-700 flex justify-between items-center max-w-[500px] px-4 py-2 flex-grow">
    <div class="">
        <div class="flex">
            <h1 class="font-bold">{{ title }}</h1>
            <p class="font-normal ml-2 italic">{{alt}}</p>
        </div>
        <p class="text-primary-900 italic">{{ description }}</p>
    </div>
    <div class="flex gap-2">
        <c-card-button
            abrirModal="openEditModal('{{ cardId }}', '{{urlEdit}}')"
            icon="pencil-square"
        />
        <c-card-button
            abrirModal="openDeleteModal('{{ cardId }}', '{{urlDelete}}')"
            icon="trash"
            danger
        />
    </div>
</div>