<!--
Input textual básico de form.
Parâmetros
- name: name do label e do input
- label/slot: texto do label 
- placeholder: valor de placeholder do input
- type: tipo do input - padrão: text
- max: máximo de caracteres
- min: mínimo de caracteres

Estilo
- labelClass
- inputClass
-->

{% if slot or label %}
    <label for="{{ name }}" class="text-sm {{ labelClass }}">
        {% if slot %}
        {{ slot.strip }}
        {% else %}
        {{ label }}
        {% endif %}
    </label>
{% endif %}
<div class="relative">
    <input type="{{type|default:"password"}}" id="password-input"
        name="{{ name }}"
        placeholder="{{ placeholder | default:"placeholder" }}"
        {% if min %}minlength={{min}}{% endif %}
        {% if max %}maxlength={{max}}{% endif %}
        class="w-full text-sm bg-white border border-border rounded-md px-4 py-2 placeholder-border {{ inputClass }}">
        <div id="toggle-password" class="absolute text-primary-700 cursor-pointer" style="top: 50%; right: .5rem; transform: translateY(-50%);">
            <span hidden>{% heroicon_outline "eye-slash" size=20 %}</span>
            <span>{% heroicon_outline "eye" size=20 %}</span>
        </div>
</div>

<script>
    const eye = document.querySelector("#toggle-password");
    const eyeIcons = document.querySelectorAll("#toggle-password span");
    const input = document.querySelector("#password-input");
    let inputReveal = input.type == "password" ? false : true; 

    eye.addEventListener("click", () => {
        inputReveal = !inputReveal;
        input.type = inputReveal ? "text" : "password";
        eyeIcons[1].hidden = inputReveal ? true : false;
        eyeIcons[0].hidden = inputReveal ? false : true;
    })
</script>