<!--
Input textual básico de form.
Parâmetros
- name: name do label e do input
- label/slot: texto do label 
- placeholder: valor de placeholder do input
- type: tipo do input - padrão: text
- max: máximo de caracteres
- min: mínimo de caracteres

Estilo
- labelClass
- inputClass
-->

{% if slot or label %}
    <label for="{{ name }}" class="text-sm {{ labelClass }}">
        {% if slot %}
        {{ slot.strip }}
        {% else %}
        {{ label }}
        {% endif %}
    </label>
{% endif %}
<div class="relative">
    <input type="{{type|default:"text"}}"
        name="{{ name }}"
        placeholder="{{ placeholder | default:"placeholder" }}"
        {% if min %}minlength={{min}}{% endif %}
        {% if max %}maxlength={{max}}{% endif %}
        class="w-full text-sm bg-white border border-border rounded-md px-4 py-2 placeholder-border {{ inputClass }}">
        <div class="absolute text-primary-700" style="top: 50%; right: .5rem; transform: translateY(-50%);">
            {% heroicon_outline "eye-slash" size=20 %}
        </div>
</div>