<!--
Variáveis
- icon: nome do ícone no hero-icons
- label: texto escrito no botão
- href: para qual endereço aponta
- active: se estiver ativo vai ter css dedicado aplicado
- class: extensor de classe padrão
-->

<li>
    <a href="{{href}}" class="flex items-center p-2 rounded-md group 
    {{ class }}
    {% if active %}
        bg-white text-tertiary-400 font-semibold hover:bg-white hover:text-tertiary-400
    {% else %}
        text-white hover:bg-tertiary-300
    {% endif %} 
    ">
        {% if active %}
            {% heroicon_solid icon %}
        {% else %}
            {% heroicon_outline icon %}
        {% endif %}
       <span class="ms-3">{{ label | default:"Sidebar" }}</span>
    </a>
</li>