<!DOCTYPE html>

{% load static %}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'src/styles.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
</head>

<body class="bg-background min-h-lvh min-w-full" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block content %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script>
        function openEditModal(id, url) {
            document.getElementById(`formEdit${id}`).setAttribute('action', url);
            document.getElementById(`modal-edit${id}`).classList.remove('hidden');
        }
    
        function openDeleteModal(id, url) {
            document.getElementById(`delete-form${id}`).setAttribute('action', url);
            document.getElementById(`modal-delete${id}`).classList.remove('hidden');
        }
    
        function closeModal(id) {
            document.getElementById(`modal-edit${id}`).classList.add('hidden');
            document.getElementById(`modal-delete${id}`).classList.add('hidden');
        }
    </script>
</body>