{% extends "dashboard.html" %}
{% load static %}

{% load custom_filters %}

{% block screen %}
    <div class="print:hidden">
        <c-title underline>Agenda</c-title>
    </div>

    <div class="print:flex justify-between hidden">
        <div >
            <img class="h-[80px] saturate-0" src="{% static 'images/apae-logo.png' %}" alt="Logo da apae">
        </div>
        <div class="">
            <h1 class="font-bold text-xl text-center">Planejamento de Horários</h1>
            <p class="text-center text-xl">Horários Gerais</p>
        </div>
        <div >
            <img class="h-[80px] opacity-0" src="{% static 'images/apae-logo.png' %}" alt="Logo da apae">
        </div>
    </div>

    <div class="flex flex-col gap-0">
        <h2 class="text-center font-bold text-2xl uppercase font-handwrite mt-4">Manhã</h1>
        <div class="grid grid-cols-[auto_repeat(5,1fr)] grid-rows-[auto_repeat(5,1fr)] gap-0 gap-x-1 rounded-lg overflow-hidden my-2 text-center text-xs printable">
            <!-- Cabeçalho -->
            <div></div>
            <div class="bg-red-400 p-2 text-sm rounded-t-md"><b>Segunda-feira</b></div>
            <div class="bg-orange-400 p-2 text-sm rounded-t-md"><b>Terça-feira</b></div>
            <div class="bg-yellow-400 p-2 text-sm rounded-t-md"><b>Quarta-feira</b></div>
            <div class="bg-green-400 p-2 text-sm rounded-t-md"><b>Quinta-feira</b></div>
            <div class="bg-blue-400 p-2 text-sm rounded-t-md"><b>Sexta-feira</b></div>
            <!-- Linha 1 -->
            {% for periodo in periodos %}
                {% if forloop.counter0 == 2 %}
                <div class="bg-none p-2 flex items-center border-b border-slate-500 border-dashed justify-end">
                    {{ horarios|index:forloop.counter0 }}
                </div>
                <div class="bg-red-200 p-2 opacity-50 border-b border-red-300  flex flex-col items-center justify-center">Intervalo</div>
                <div class="bg-orange-200 p-2 opacity-50 border-b border-orange-300  flex flex-col items-center justify-center">Intervalo</div>
                <div class="bg-yellow-200 p-2 opacity-50 border-b border-yellow-300  flex flex-col items-center justify-center">Intervalo</div>
                <div class="bg-green-200 p-2 opacity-50 border-b border-green-300  flex flex-col items-center justify-center">Intervalo</div>
                <div class="bg-blue-200 p-2 opacity-50 border-b border-blue-300  flex flex-col items-center justify-center">Intervalo</div>
                {% else %}
                <div class="bg-none p-2 flex items-center {% if forloop.counter0 < 4 %} border-b {% endif %} border-slate-500 border-dashed justify-end">
                    {{ horarios|index:forloop.counter0 }}
                </div>
                {% for aula in periodo %}
                <div class="bg-{{cores|index:forloop.counter0}}-200 p-2 border-b border-{{cores|index:forloop.counter0}}-300 flex flex-col items-center justify-center {% if forloop.parentloop.counter0 == 4 %} rounded-b-md {% endif %}">
                    {% if aula %}
                        {% for a in aula %}
                            <p><b>{{a.3}}</b></p>
                            <p><b>{{ a.1 }}</b> - {{ a.0 }} {% if a.2 != 'Desconhecido' %} , {{ a.2 }} {% endif %} </p>
                        {% endfor %}
                    {% else %}
                    <p class="italic text-slate-500">Vago</p>
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="print:block hidden text-center text-sm mt-6">
        <p><b>Gerado em: </b>{{ gen_date }}</p>
        <p><b>Exportado em:</b> {{ export_date }}</p>
        <p><b>Exportado por</b>: {{ full_name }}</p>
    </div>


    <div data-dial-init class="fixed end-6 bottom-6 group print:hidden">

        <div id="speed-dial-menu-square" class="flex flex-col items-center hidden mb-4 space-y-2">
            <c-speed-dial-button 
                icon="printer"
                id="exportar"
                name="Exportar"
                onclick="print()"
            />
            <c-speed-dial-button 
                icon="document-magnifying-glass"
                id="gerar"
                name="Gerar"
                href="{% url "script" %}"
            />
        </div>
        <button type="button" data-dial-toggle="speed-dial-menu-square" aria-controls="speed-dial-menu-square" aria-expanded="false" class="flex items-center justify-center text-white bg-blue-700 rounded-lg w-14 h-14 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
            <svg class="w-5 h-5 transition-transform group-hover:rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
            <span class="sr-only">Abrir menu de ações</span>
        </button>
    </div>

{% endblock screen %}