{% extends "dashboard.html" %}

{% block screen %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.0.0/dist/tailwind.min.css" rel="stylesheet">

    <c-title underline>Editar Atividade</c-title>
    <div class="mb-5"></div>
    <form method="post" class="max-w-sm mx-auto">
        {% csrf_token %}

        {% for field in form %}
            <div class="mb-5">
                <label for="{{ field.id_for_label }}" class="block mb-2 text-base font-medium text-gray-900">{{ field.label }}
                    {% if field.field.required %}
                    <span class="text-red-500">*</span>
                    {% endif %}
                </label>
                {{ field }}
                <p class="text-sm text-primary-800">{{ field.field.help_text }}</p>
            </div>
        {% endfor %}
        
        <div class="grid grid-cols-2">
            <c-form-button color="tertiary" variant="primary" type="submit">Salvar</c-form-button>
            <c-a-button color="neutral" variant="primary" href="{% url 'atividades' %}" >Cancelar</c-a-button>
        </div>
    </form>    
{% endblock screen %}
