{% extends "dashboard.html" %}

{% block screen %}
    <c-title underline>Atividades</c-title>
    {% if not atividade %}
    <div class="grid gap-4 py-4 grid-cols-2">
        {% for p in atividades %}
        <c-card
            cardId={{p.pk}}
            tabela={{tabela}}
            title="{{p.nome}}"
            alt="{{p.carga_horaria}}h/semana"
            url="/atividades/delete/{{p.pk}}/"
            description="{{p.id_caracteristica.nome}}"
        />
        {% endfor %}
    </div>
    {% endif %}
{% endblock screen %}
{% comment %} </a> {% endcomment %}