{% extends "dashboard.html" %}
{% load static %}

{% load custom_filters %}

{% block screen %}
    <c-title underline>{{ atividade.nome }}</c-title>
    
    <div class="mt-4">
        <form method="post">
            {% csrf_token %}
            <h3>Profissionais</h3>
            {{ form.id_profissional }}
            <h3>Turmas</h3>
            {{ form.id_turma }}
            <br>
            <c-form-button color="tertiary" variant="default" type="submit">Salvar vínculo</c-form-button>
        </form>
    </div>

{% endblock screen %}
