{% extends "_base.html" %}

{% block content %}
{% load static %}
    <div class="h-svh w-full bg-background flex">
        <div class="h-svh w-[600px] max-w-[40%] md:block hidden">
            <img src="{% static "images/login-splash.jpeg" %}" alt="" srcset="" class="h-full w-full object-cover">
        </div>
        <div class="w-full flex justify-center items-center">
            
            <div id="login-form" class="w-[400px] flex flex-col gap-2 p-4 text-start">
                <form action="{% url "fazer_login" %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <c-title>Login</c-title>
                    </div>
                    <div>
                        <c-text-input 
                            name="usuario"
                            placeholder="fulano@email.com.br"
                            label="E-mail:"
                            inputClass="mb-2"
                        />
                    </div>
                    <div>
                        <c-password-input
                            name="senha"
                            placeholder="••••••••••••"
                            type="password"
                            label="Senha:"
                            min="5"
                            max="20"
                        />
                    </div>
                    <div class="flex items-center mt-2 mb-4 text-sm text-center justify-end">
                        {% comment %} <div class="cursor-pointer">
                            <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-secondary bg-white border-border rounded focus:ring-tertiary focus:ring-2 cursor-pointer">
                            <label for="default-checkbox" class="ms-2 text-sm font-medium text-border cursor-pointer">Lembrar senha</label>
                        </div> {% endcomment %}
                        
                        <c-link href="{% url "recover_password" %}">Esqueci minha senha</c-link>
                    </div>

                    <div class="flex flex-col">
                        <c-form-button type="submit" color="secondary">Entrar</c-button>
                        <c-link href="{% url "recover_password" %}" class="text-center">Não possuo conta</c-link>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <a href="" class="transition opacity-0"></a>

    <script>
        const alertsArea = document.querySelector("#alerts-area")
        const alertList = alertsArea.children

        {% comment %} setTimeout(() => {alert('a')}, 500) {% endcomment %}
        for (let i = 0; i < alertList.length; i++) {
            const element = alertList[i];

            setTimeout(() => {
                element.classList.add("transition opacity-0")
            }, 5000 + 1000 * i)
        }
    </script>
{% endblock content %}
