<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'src/styles.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
</head>
<body>
    <div class="h-svh w-full bg-background flex flex-col px-16 py-8">
        <a href="/login"><img src="{% static "images/left-arrow.png" %}" alt="Seta" class="h-8 w-8 mb-8 cursor-pointer hover:-translate-x-2 transition-transform"></a>
        <h1 class="text-border text-4xl mb-4">Olá, aqui estão as instruções:</h1>
        <p class="text-md max-w-[60ch]">
            Para recuperar a senha, será necessário contatar uma pessoa com acesso admnistrativo ou o próprio admnistrador do sistema. Esses são os únicos usuários com autorização para tal.<br><br>
            Essa medida tem como objetivo minimizar o mau uso com senhas.
        </p>
    </div>
</body>
</html>