{% load custom_filters %}
<c-title underline>Profissionais</c-title>


<div class="grid gap-4 py-4 grid-cols-2">
    {% for p in profissionais %}
        <c-card
            cardId={{p.pk}}
            title={{p.nome}}
            urlDelete="/profissionais/delete/{{p.pk}}/"
            urlEdit="/profissionais/edit/{{p.pk}}/"
            description="{{p.endereco}}"
        />
    {% endfor %}
</div>

{% for p in profissionais %}
    {% with form|get:p.pk as forms %}
        {% include 'components/modal_crud.html' with form=forms id=p.pk %}
    {% endwith %}  
{% endfor %}


<a href="?new=true">
    <div class="rounded-md bg-tertiary-500 text-white fixed bottom-4 right-4 cursor-pointer p-2">
        {% heroicon_solid "plus" size=40 %}
    </div>
</a>