{% extends "dashboard.html" %}

{% load custom_filters %}

{% block screen %}
    <c-title underline>Turmas</c-title>

    
    <div class="grid gap-4 py-4 grid-cols-1 md:grid-cols-2">
        {% if turmas %}
            {% for t in turmas %}
                <c-card
                    cardId={{t.pk}}
                    title={{t.nome}}
                    urlDelete="{% url "delete_turma" id_turma=t.pk %}"
                    urlEdit="{% url "edit_turma" id_turma=t.pk %}"
                    description="Quantidade de alunos: {{t.qnt_de_alunos}} alunos"
                />
            {% endfor %}
            <c-card-new href="{% url "new_turma" %}"/>
        {% else %}
            <c-card-new href="{% url "new_turma" %}"/>
        {% endif %}
    </div>

    {% comment %} {% for t in turmas %}
        {% with form|get:t.pk as forms %}
            {% include 'components/modal_crud.html' with form=forms id=t.pk %}
        {% endwith %}  
    {% endfor %} {% endcomment %}
    

    <a href="{% url "new_turma" %}">
        <div class="rounded-md bg-tertiary-500 text-white fixed bottom-4 right-4 cursor-pointer p-2">
            {% heroicon_solid "plus" size=40 %}
        </div>
    </a>
    
    
{% endblock screen %}
